﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.swyfft-green-1-background {
    background-color: #8FBF21
}

.swyfft-green-2-border {
    border-color: #4E6B0B
}

.swyfft-white-background {
    background-color: #FAFBFC
}

.swyfft-green-3-color {
    color: #273803
}