﻿@model Swyfft.ApiDemo.Web.Models.HomeModel
@{
    ViewBag.Title = "Demo";
}

<h2>Swyfft API Demo</h2>

<form id="frm" action="#" method="post">
    <div>
        <label for="full_address">Address</label>
        <input id="full_address" type="text" name="full_address" placeholder="Full Address" />
    </div>
    <div>
        <label for="living_space">Living Space (optional)</label>
        <input id="living_space" type="number" name="living_space" placeholder="Living Space" />
    </div>
    <div>
        <input type="submit" value="Get Quote" class="btn" />
    </div>
</form>

<div id="quote-data-area" style="display:none">
    <hr />
    <h3>Quote Data</h3>
    <ul>
        <li id="address">
        </li>
        <li id="annual-premium">
        </li>
    </ul>
    <a href="#" id="change-quote-url"></a>
    <br />
    <a href="#" id="purchase-quote-url"></a>
</div>

@section Scripts {
    <script type="text/javascript">
        $("#frm").submit(function(e) {
            e.preventDefault();
            createOrGetQuote();
        });

        function createOrGetQuote() {
            var fullAddress = $("#full_address").val();
            if (!fullAddress || fullAddress.length < 20) {
                alert('Please enter an address.');
                return;
            }

            // These values can be adjusted in Swyfft.ApiDemo.Web/Web.config in <appSettings>
            var apiKey = "@Model.ApiKey"; 
            var baseUrl = "@Model.BaseUrl";

            var livingSpace = $("#living_space").val();
            var request = { fullAddress: fullAddress, livingSpace: livingSpace };

            $.ajax({
                method: "PUT",
                url: baseUrl + "partnerapi/v1/quote",
                crossDomain: true,
                dataType: "json",
                headers: { "X-SwyfftApiKey": apiKey },
                data: request
            }).done(function(response) {
                console.info(response);
                showQuoteDetails(response.Quote);
            }).fail(function (err) {
                console.log(err);
                window.alert(err.statusText || err);
            });
        }

        function showQuoteDetails(quote) {
            var address = quote.Address;
            document.getElementById("address").innerHTML = "Parsed Address: " + address.Street1 + " " + address.City + ", " + address.State + " " + address.Zip5;
            document.getElementById("annual-premium").innerHTML = "Annual Premium: " + quote.AnnualPremium;
            document.getElementById("change-quote-url").href = quote.ChangeQuoteUrl;
            document.getElementById("purchase-quote-url").href = quote.PurchaseQuoteUrl;
            document.getElementById("change-quote-url").innerHTML = "Change Quote";
            document.getElementById("purchase-quote-url").innerHTML = "Purchase Quote";
            $('#quote-data-area').show();
        }
    </script>
}
