﻿@{
    ViewBag.Title = "Widget Test";
}

<h2>This is a widget page</h2>
<div id="swyfftWidget">
    
</div>

@section Scripts{
    <script type="text/javascript" src="https://beta.swyfft.com/Widgets/Dist/widgets.bundle.js"></script>
    <script type="text/javascript">
        swyfft.widgets.addressWidget.show('#swyfftWidget', 'SwyfftKey_AQAJuUcriGcTBiL1EpAUSq8vSCf1Q7d0n2Kw4de6/OcKkQ==');
    </script>
}